
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	background-color: black;
	overflow-y: hidden;
	font-family: 'Libre Baskerville';
	font-size: 0.7em;
}

.redthreads{
	height: 100vh;
}

.cl{
	display: flex;
	margin: 0;
	padding: 0;
}

.logo{
	margin-top: 27vh;
	height: 30vh;
}

.rw{
	text-align: center;
	color: red;
	font-size: 1.5em;
	font-weight: bold;
	flex-direction: column;
}

.rw2{
	
	color: red;
	font-size: 2em;
	font-weight: bold;
	flex-direction: column;
	padding: 10vw;
}

.swipe{
	font-size: 0.6em;
	color: white;
	margin-top: 4vh;
}