
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@300&display=swap');
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	background-color: black;
	display: flex;
	flex-direction: column;
  align-items: center;
  align-items: center;
  overflow-x: hidden;
}

.side2letters{
	padding: 2vh;
	width: 40vw;
}

.side1letters{
	padding: 2vh;
	width: 79vw;
}

.side3letters{
	padding: 2vh;
	width: 20vw;
}

.side3vletters{
	padding: 2vh;
	width: 23vw;
}

.side3v2letters{
	padding: 2vh;
	width: 35vw;
}

.side3v3letters{
	padding: 2vh;
	width: 18vw;
}

.side3v4letters{
	padding: 2vh;
	width: 38vw;
}

#flexletters{
	display: flex;
	flex-direction: row;
}

.lettersp{
	font-size: 1.2em;
	text-align: center;
	padding-bottom: 3vh;
	color: white;
}
.cursor{
	cursor: url(cursor.png), auto;
}
p{
	font-style: italic;
	color: red;
	padding-top: 3vmin;
	font-family: 'Helvetica', 'Arial', sans-serif;
}

h3{
	font-style: italic;
	padding-top: 2vh;
	font-family:'Helvetica', 'Arial', sans-serif;
	color: red;
	font-size: 1.2em;
}
.bodyPsych {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    cursor: pointer;
}

.bodyMain{
	display: flex;
  flex-direction: column;
  min-height: 100vh;
	background-color:black;
	font-family: 'Azeret Mono';
	overflow-x: hidden;
}

.nav{
	width:100%;
	height: 6vh;
  display: flex;
  justify-content: center;
  background-color:#28201e;
  padding: 2vmin;
  font-size: 1em;
	font-family: 'Azeret Mono';
}

.fixer{
	position: fixed;
}

.navMenu {
  display: flex;
  width: 96.5vmax;
  justify-content: space-around;
}

.imagesPsych {
    height: 100vh;
}

.dropdown .drop{ 
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-size: 1em;
  color: white;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #28201e;
  padding: 2vmin;
}

.dropdown:hover .dropdownContent {
  display: flex;
  flex-direction: column;
  line-height: 5vmin;
}

a, a:visited, a:active{
	color: white;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

.fullImage{
	padding-top: 7vmin;
	width: 60vw;
}

.fullImage2{
	padding-top: 0vmin;
	width: 56vw;
}

.buttonR{
	padding: 2vmin;
	margin: 35vmin;
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-weight: bold;
	font-size: 3em;
	background-color: red;
	border: 0;
	color:black;
}

.buttonQ{
	padding: 1vmin;
	margin: 3vmin;
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-weight: bold;
	font-size: 1em;
	background-color: red;
	border: 0;
	color:black;
}

button:hover{
	cursor: pointer;
}

.sideBySide{
	display: flex;
}

.smallImg{
	padding-top: 20vmin;
	width: 40vw;
}

.smallImg2{
	padding-top: 20vmin;
	width: 20vw;
}

.smallImg3{
	padding-top: 5vmin;
	width: 27vw;
}

.door{
	height: 70vh;
	padding-top: 7vmin;
}

.footer{
	
	padding: 2vmin;
	margin-top: auto;
	width: 100vw;
	display: flex;
	flex-direction: column;
	line-height: 5vmin;
	justify-content: center;
	align-items: center;
	color: white;
}

.pFooter{
	padding-top: 0vmin;
	color: white;
	font-style: normal;
	font-family: 'Azeret Mono';
}

.aFooter{
	font-size: 2em;
}

.artistBio{
	display: flex;
	width: 50vw;
	justify-content: center;
	align-items: center;

}

.artistBiop{
	text-align: justify;
	padding: 3vmin;
	color: white;
	font-family: 'Azeret Mono';
	font-style: normal;
}

.artistImg{
	display: flex;
	padding: 3vmin;
	width: 29vw;
	justify-content: center;
	align-items: center;
}

.parallax-1 {
	display: flex;
	width: 90vw;
}

.name{
	color: red;
}

.underlines{
	text-decoration: underline;
}
#img2{
	display: none;
}

#img1{
	padding-top: 6vh;

}
#creditwriting{
	font-family: 'Azeret Mono';
	color: white;
	text-align: center;
}

#creditwriting p{
	color: white;
	font-family: 'Azeret Mono';
}

#creditwriting h3{
	font-family: 'Azeret Mono';
}

@media only screen and (max-width: 640px){
	.navMenu {
	  width: 100vmin;
	}
	p{
		padding: 4vmin;
		font-size: 0.7em;
		text-align: center;
	}
	.fullImage{
		padding-top: 50%;
		width: 80vw;
	}
	.topPad{
		padding-top: 20%;
	}
	.buttonR{
		margin: 35vmin;
		font-size: 3em;
	}
	.sideByside{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.smallImg{
		padding: 0;
		width: 80vw;
		
	}
	.smallImg2{
		padding: 0;
		width: 60vw;
	}
	.artistBio{
		display: flex;
		flex-direction: column;
		width: 50vw;
		justify-content: center;
		align-items: center;
	}
	.artistBiop{
		padding: 3vmin;
	}
	.artistImg{
		padding: 3vmin;
		width: 70vw;
		justify-content: center;
		align-items: center;
	}
	.footer{
		width: 100%;
	}
	.pFooter{
		padding-top: 2vmin;
	}
	small{
		font-size: 0.5em;
	}
	.imagesPsych {
		margin-top: 20%;
		padding-top: 40%;
    height: 105vmin;
	}
	#img2{
		display: block;
		padding-top: 6vh;
	}
	#img1{
		display: none;
	}
	.smallImg3{
		width: 57vw;
	}
	.fullImage2{
		padding-top: 7vmin;
	}
}